<style>
    footer {
        width: 100%;
        font-family: 'Fira Sans';
        color: #103f5e;
        font-size: 10px;
        margin: auto 10mm;
    }

    hr {
        margin: 1mm auto;
        border: none;
        border-top: 1px solid;
    }

    .page {
        text-align: right;
    }

    .legal {
        display: flex;
        justify-content: space-between;
    }
</style>
<footer>
    <div class="page">
        Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </div>
    <hr>
    <div class="legal">
        <div>Nullam dictum nec elit viverra</div>
        <div>Nam tempor, enim non auctor.</div>
    </div>
</footer>